<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuotesSong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QuotesSong.Properties.Settings.SongDBConnectionString"
      connectionString="data source='SongDB.db3'" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <QuotesSong.Properties.Settings>
      <setting name="listLang" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Українська</string>
            <string>Російська</string>
            <string>Англійська</string>
            <string>Інша</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="listCountries" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Україна</string>
            <string>Росія</string>
            <string>ЄС</string>
            <string>США</string>
            <string>Інша</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="isFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClearWhereClosing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="quotesUkrLang" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="quotesUkrCountry" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="BrowserBit" serializeAs="String">
        <value>./WebDrivers/x86</value>
      </setting>
      <setting name="BrowserName" serializeAs="String">
        <value>Chrome</value>
      </setting>
    </QuotesSong.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>